* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.main {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.page1 {
    height: 100vh;
    width: 100%;
    background-color: rgb(252, 251, 251);
}

nav {
    height: 17vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* position: fixed; */
    z-index: 999;
    /* justify-content: space-between; */
}

nav h2 {
    margin-left: 7vh;
    font-size: 2.4vmax;
    font-weight: 100;
}

nav h2 span {
    color: rgb(14, 241, 154);
    font-size: 3.4vmax;
}

nav>ul {
    margin-left: 59vh;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: "inter tight";
}

nav ul li {
    margin-left: 5vh;
    font-size: 1.3vmax;
    font-weight: 100;
}

nav ul li:hover {
    cursor: pointer;
    /* color: blue; */
}

nav ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: springgreen;
    /* transition: width .3s; */
    opacity: 1;
}

nav ul li:hover::after {
    width: 100%;
    transition: width .3s;
}
/* ------------------------------- */

#btn1 {
    height: 38px;
    width: 24vh;
    border: 1px solid rgb(4, 4, 4);
    border-radius: 20px;
    overflow: hidden;
    margin-left: 20px;
    background-color: transparent;
    /* border: 2px solid red; */


}

#btn1>h5 {
    /* z-index: 999; */
    position: absolute;
    display: flex;
    font-size: 1.2vmax;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px 0 0 25px;
    font-weight: 100;
    font-family: "inter tight";


}

#btn1>h5 img {
    padding: 5px 0 0 12px;
    width: 40px;
}

#btn1:hover {
    cursor: pointer;
    /* color: blue; */
}

#btn1::after {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    background-color: springgreen;
    transition: width .3s;
}

#btn1:hover::after {
    width: 100%;
    transition: width .3s;
}

/* -------------------------page1-contant-------- */


.page1-contant {
    width: 80%;
    /* background-color: green; */
    position: relative;
}

.photo1 {
    position: absolute;
    left: 5%;
    top: 8vh;
    height: 82vh;
    width: 25%;
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-75.jpg?w=1200&h=1731&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631017685&s=333b9abfa858cf7b8685e28a597dfa08);
    background-size: cover;
    background-position: center;
    transition: margin 0.8s ease;
}
.photo1:hover {
    margin-top: -30px;
}


.photo2 {
    /* margin: 10px 0 0 10px; */
    position: absolute;
    left: 70%;
    top: 5vh;
    height: 30vh;
    width: 20vw;
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-23.jpg?w=1200&h=1008&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631003343&s=88354e145206a527c989b49f760a89d3);
    background-size: cover;
    background-position: center;
    transition: margin 0.8s ease;
}
.photo2:hover {
    margin-top: -30px;
}

.photo3 {
    position: absolute;
    left: 97%;
    top: 50vh;
    /* margin: 10px 0 0 10px; */
    height: 37vh;
    width: 17vw;
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-81.jpg?w=1200&h=1200&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631005177&s=21e4c0bb5ce83f57e69f404637d61265);
    background-size: cover;
    background-position: center;
    transition: margin 0.8s ease;
}
.photo3:hover {
    margin-top: -30px;
}

.page1-child {
    position: absolute;
    left: 34%;
    top: 34vh;
    height: 38vh;
    /* width: 48%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.page1-child>h1 {
    font-size: 5.5vmax;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-weight: 300;

}
.page1-child>h1>img{
    margin-bottom: 15%;
   
}

.page1-child>h4 {
    font-size: 2vmax;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    /* border: 1px solid red; */
    height: 7vh;
    width: 260px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-family: "inter tight";
    font-weight: 500;
}

.page1-child>h4>button {
    height: 3.5vh;
    width: 70px;
    border: 1px solid rgba(0, 0, 0, 0.643);
    border-radius: 20px;
    overflow: hidden;
    /* border: 1px solid red; */
    background-color:transparent;

    /* margin-top: 10px; */
}

#btn2>img {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -6px 0 0 16px;
    width: 3vmax;

}

#btn2:hover {
    cursor: pointer;
    
}

#btn2::after {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    background-color: springgreen;
    transition: width .3s;
}

#btn2:hover::after {
    width: 100%;
    transition: width .3s;
}

/* ----------------------------page2-------------------- */
.page2 {
    height: 75vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.976);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2-contant {
    height: 60vh;
    width: 70%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.page2-contant>h5 {
    font-size: 1.5vmax;
    font-weight: 100;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    align-self: center;
    color: #fff;
    letter-spacing: 2px;
    white-space: 3px;
}

#gola {
    height: 2.3vh;
    width: 14px;
    margin-right: 8px;
    margin-top: 3px;
    border-radius: 50%;
    background-color: springgreen;
}

.page2-contant>h1 {
    font-size: 4.1vmax;
    font-weight: 100;
    color: #fff;
    font-family:serif;
    margin-top: 5px;
    /* border: 2px solid red; */
}
.page2-contant h1 img{
    position: absolute;
    /* border: 2px solid rgb(241, 33, 14); */
    height: 90px;
    width: 230px;
    right: 370px;
    top: 245px;
    
}

.page2-contant>h4 {
    font-size: 1.5vmax;
    font-weight: 300;
    margin-top: 15px;
    color: #fff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    white-space: 3px;
    height: 7vh;
    width: 180px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.page2-contant>h4>button{
    height: 5vh;
    width: 70px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    overflow: hidden;
    background-color: transparent;
    /* margin-top: 10px; */
}

#btn-two img {
    /* border: 1px solid red; */
    position: absolute;
    font-size: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 0 100px 10px; */
    bottom: 15px;
    width: 50px;


}

#btn-two:hover {
    cursor: pointer;
    /* color: blue; */
}

#btn-two::after {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    background-color: springgreen;
    transition: width .3s;
}

#btn-two:hover::after {
    width: 100%;
    transition: width .3s;
}

/* ---------------------page3---------------- */
.page3 {
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.page3-left {
    height: 120vh;
    width: 50%;
}

.pic1 {
    position: absolute;
    height: 70vh;
    width: 11%;
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-69.jpg?w=800&h=2518&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631002290&s=33b3b284e2298e725e8837d662a3f3bd);
    background-size: cover;
    background-position: center;
}

.pic2 {
    position: absolute;
    left: 14%;
    height: 32vh;
    width: 28%;
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-10.jpg?w=1200&h=750&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631002227&s=e9befa27c3cb6b4742db66b7d49131e1);
    background-size: cover;
    background-position: center;
}

.pic3 {
    position: absolute;
    left: 14%;
    top: 39vh;
    height: 81vh;
    width: 36%;
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-2.jpg?w=1200&h=1353&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631002176&s=5d4bc2c79348dc9d5effc2ed0a267366);
    background-size: cover;
    background-position: center;
    
}

.pic4 {
    position: absolute;
    height: 35vh;
    top: 75vh;
    width: 11%;
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-82.jpg?w=800&h=1200&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631002337&s=2c36e03420200c6347fed613ee6ed7d3);
    background-size: cover;
    background-position: center;
}

.page3-right {
    height: 120vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid springgreen; */

}

.page3-right-contant {
    height: 100vh;
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.page3-right-contant>h1 {
    font-size: 4.2vmax;
    font-weight: 200;
    color: rgb(0, 0, 0);
    margin-top: 3vh;
}
.page3-right-contant>h1 img{
    position: absolute;
    /* border: 1px solid red; */
    height: 20px;
    width: 180px;
    top: 80px;
    left: 23%;

}

#pp {
    margin-top: 8vh;
}

.page3-right-contant>p {
    font-size: 1.5vmax;
    font-weight: 200;
    margin-top: 8px;
    color: rgb(0, 0, 0);
    font-family: "inter tight";
    margin-top: 10vh;
    /* padding: 20px; */
    line-height: 5vh;


}

.learn {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8vh;
}

.learn>h4 {
    font-size: 1.9vmax;
    margin-left: 5px;
    font-family: "inter tight";
    font-weight: 300;

}

.img-logo {
    height: 7vh;
    width: 8%;
    border-radius: 50%;
    background-color: rgb(122, 200, 194);
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/team/Team-Transparent/Nouri-Messaoud-2.png?w=400&h=400&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1634030846&s=944b7a533ea72d26afc37cdf33752fd9);
    position: relative;
}

.imgg {
    position: absolute;
    height: 7vh;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(8, 218, 237);
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/team/Team-Transparent/Nouri-Messaoud-2.png?w=400&h=400&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1634030846&s=944b7a533ea72d26afc37cdf33752fd9);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

#btn4 {
    position: relative;
    height: 36px;
    width: 24vh;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    overflow: hidden;
    margin-left: 20px;
    background-color: transparent;
}

#btn4>h5 {
    position: absolute;
    display: flex;
    font-size: 1.3vmax;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 100;
    font-family: "inter tight";
    padding: 0 0 0 10px;
    bottom: -6px;

}

#btn4>h5>img {
    margin-left: 5px;
}

#btn4:hover {
    cursor: pointer;
}
#btn4::after {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    background-color: springgreen;
    transition: width .3s;
}
#btn4:hover::after {
    width: 100%;
    transition: width .3s;
}
/* ----------------------page4-------------- */
.page4 {
    height: 100vh;
    width: 100%;
    display: flex;
    /* justify-content: s; */
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.752);
}

.page4-upper {
    height: 25vh;
    width: 70%;
    text-align: center;
    /* border: 10px solid green; */

}
.page4-upper img{
    width: 150px;
    height: 70px;
    position: absolute;
    /* border: 1px solid red; */
    left: 150px;
    top: 40px;


}

.page4-upper>h1 {
    font-size: 4vmax;

    font-weight: 500;
    text-align-last: center;
    line-height: 1.2;
    margin-top: 6vh;
}

.page4-lower {
    height: 70vh;
    width: 80%;
    /* border: 2px solid black; */
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

#logo {
    height: 14vh;
    width: 20%;
    text-align: center;
    color: black;
    /* border: 2px solid rgb(6, 5, 5); */

    object-fit: cover;
}

/* -------------page-five------- */

.page5 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page5-box {
    height: 60vh;
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid yellow; */
    margin-top: 10vh;
}

.page5-box-left {
    height: 60vh;
    width: 40vw;
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/work/Golf.jpeg?w=800&h=450&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1635867985&s=2e6fd91c8c7c94ee6775b43c31b9f6b4);
    background-size: cover;
    background-position: center;
    position: relative;
}

.page5-box-overlay {
    position: absolute;
    height: 60vh;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.5);
    ;
}

.page5-box-overlay>img {
    margin: 5vh 0 0 40px;
}

.left-overlay-contant>h1 {
    color: #fff;
    font-size: 2.7vmax;
    font-weight: 300;
    margin: 20vh 20px 0 30px;
}

.left-overlay-contant>h4 {
    /* border: 1px solid red; */
    font-size: 1.5vmax;
    font-weight: 700;
    margin-top: 20px;
    color: #fff;
    margin-left: 40px;
    font-family: "inter tight";
    letter-spacing: 2px;
    white-space: 3px;
    height: 7vh;
    width: 20vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.left-overlay-contant>h4>button {
    position: relative;
    height: 5vh;
    width: 70px;
    border: 1px solid rgb(240, 239, 239);
    border-radius: 20px;
    overflow: hidden;
    /* border: 1px solid red; */
    background-color: transparent;
}

#btn33>img {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    bottom: 1px;
    right: 20px;
    

}

#btn33:hover {
    cursor: pointer;
    /* color: blue; */
}

#btn33::after {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    background-color: springgreen;
    transition: width .3s;
}

#btn33:hover::after {
    width: 100%;
    transition: width .3s;
}

.page5-box-right {
    height: 60vh;
    width: 40vw;
    /* border: 1px solid rgb(16, 181, 16); */
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/work/work-thumbnail-03.jpg?w=1200&h=900&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1627573623&s=efbebf8d2134c057c66886c970e18069);
    background-size: cover;
    background-position: center;
    position: relative;
}

.page5-box-right-overlay {
    position: absolute;
    height: 60vh;
    width: 40vw;

    /* background-color:red; */
}

#right1 {
    margin-top: 15vh;
}

.learn1 {
    height: 10vh;
    width: 30vw;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8vh;
    justify-content: center;
}

.learn1>h4 {
    /* border: 1px solid red; */
    font-size: 1.9vmax;
    margin-left: 5px;
    font-family: "inter tight";
    font-weight: 300;

}

.img-logo1 {
    height: 8vh;
    width: 5vw;
    border-radius: 50%;
    background-color: rgb(122, 200, 194);
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/team/Team-Transparent/Demie-Loizou-1.png?w=400&h=400&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1638459673&s=d95f4d84ca3dc1bf7c15f06aed800740);
    position: relative;
}

.imgg1 {
    position: absolute;
    height: 8vh;
    width: 5vw;
    border-radius: 50%;
    /* margin-top: 1vh; */
    /* background-color: #fff; */
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/team/Team-Transparent/Nouri-Messaoud-2.png?w=400&h=400&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1634030846&s=944b7a533ea72d26afc37cdf33752fd9);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

#btn41 {
    height: 6vh;
    width: 25vh;
    border: 1px solid rgb(4, 4, 4);
    border-radius: 20px;
    overflow: hidden;
    margin-left: 20px;
    background-color: transparent;
}

#btn41>h5 {
    /* border: 1px solid red; */
    position: absolute;
    display: flex;
    font-size: 1.2vmax;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0 20px 25px;
    font-weight: 100;
    font-family: "inter tight";


}

#btn41>h5>img {
    margin-left: 5px;
}

#btn4:hover {
    cursor: pointer;
    /* color: blue; */
}

#btn41::after {
    content: '';
    display: block;
    width: 0;
    height: 6vh;
    background-color: springgreen;
    transition: width .40s;
}

#btn41:hover::after {
    width: 25vw;
    transition: width .40s;
}

/* --------------page6--------------- */
.six {
    height: 120vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    color: #000;
    padding: 0;
    
}

.swiper {
    width: 80%;
    height: 80%;
    /* border:2px solid royalblue; */

}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;

}

.swiper-slide img {
    height: 5vmax;
}

.swiper-slide h2 {
    margin: 2vmax 0;
    font-size: 3.5vmax;
    text-align: center;
    font-weight: 100;
    width: 60%;
}

.swiper-slide h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmax;
    font-weight: 300;
}

.swiper-slide h4 {
    margin: .5vmax 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vmax;
    font-weight: 300;
    color: rgb(151, 151, 151);
}

/* -----------page-seven------ */

.page7 {
    height: 120vh;
    width: 100vw;
    background-color: rgb(1, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position:relative ;
}

.page7-box {
    height: 70vh;
    width: 80vw;
}

.contant {
    height: 55vh;
    width: 80vw;
    /* border: 1px solid greenyellow; */
    display: flex;
    flex-direction: row;
}

.contant1 {
    height: 55vh;
    width: 20vw;
    position: relative;
    /* background-color: rgb(156, 26, 26); */
}

.contant1>img {
    /* border: 1px solid red; */
    position: absolute;
    top: 7vh;
    width: 16vw;
    height: 10vh;
    right: 85px;
    /* border: 2px solid red; */
}

.contant1>h2 {
    margin-top: -7%;
    font-size: 3.5vmax;
    line-height: 1.4;
    color: #fff;
    font-weight: 100;
}

.contant1>h4 {
    /* position: relative; */
    font-size: 1.8vmax;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-top: 2vh;
    color: aliceblue;
    /* border: 1px solid red; */
    height: 7vh;
    width: 15vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-family: "inter tight";
    font-weight: 500;
}

.contant1>h4>button {
    position: relative;
    height: 5vh;
    width: 5vw;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    overflow: hidden;
    /* background-color: #fff; */
    background-color: transparent;
}

#btn23>img {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 15px;
    top: 4px;
    align-items: center;
    /* border: 1px solid red; */

}

#btn23:hover {
    cursor: pointer;
    /* color: blue; */
}

#btn23::after {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    background-color: rgba(0, 255, 128, 0.576);
    transition: width .3s;
}

#btn23:hover::after {
    width: 100%;
    transition: width .3s;
}

.contant2 {
    height: 55vh;
    width: 15vw;
    /* background-color: rgb(175, 0, 0); */
}

.contant2>h1 {
    font-size: 2.1vmax;
    letter-spacing: 2px;
    font-weight: 900;
    font-family: "inter tight";
    color: #fff;

}

.contant2>h5 {
    margin-top: 2vh;
    font-size: 1.2vmax;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: "inter tight";
    color: rgba(211, 211, 211, 0.673);

}

.contant2>h5:hover {
    cursor: pointer;
    /* color: blue; */
}

.contant2>h5::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: springgreen;
    /* transition: width .3s; */
    opacity: 1;
}

.contant2>h5:hover::after {
    width: 33%;
    /* transition: width .3s; */
}

.contant3 {
    height: 55vh;
    width: 15vw;
    /* background-color: #fff; */
}

.contant3>h1 {
    font-size: 2.1vmax;
    letter-spacing: 2px;
    font-weight: 900;
    font-family: "inter tight";
    color: #fff;

}

.contant3>h5 {
    /* border: 1px solid red; */
    min-width: none;
    margin-top: 2vh;
    font-size: 1.2vmax;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: "inter tight";
    color: rgba(211, 207, 207, 0.651);

}

.contant3>h5:hover {
    cursor: pointer;
    /* color: blue; */
}

.contant3>h5::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: springgreen;
    /* transition: width .3s; */
    opacity: 1;
}
.contant3>h5:hover::after {
    width: 30%;
    /* transition: width .3s; */
}
#services>h5:hover {
    cursor: pointer;
    /* color: blue; */
}
#services>h5::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: springgreen;
    /* transition: width .3s; */
    opacity: 1;
}

#services>h5:hover::after {
    width: 100%;
    /* transition: width .3s; */
}

.contant4 {
    height: 55vh;
    width: 15vw;
    /* background-color: #fff; */
}

.contant4>h1 {
    font-size: 2.1vmax;
    letter-spacing: 2px;
    font-weight: 900;
    font-family: "inter tight";
    color: #fff;

}

.contant4>h5 {
    margin-top: 2vh;
    font-size: 1.2vmax;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: "inter tight";
    color: rgba(190, 190, 190, 0.673)
}

.contant5 {
    height: 45vh;
    width: 15vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    /* background-color: #fff; */
}

.contant-upper {
    position:absolute;
    /* bottom: 45vh; */
    top: -20vh;
    left: 15%;
    height: 50vh;
    width: 70%;
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-239.jpg?w=1200&h=394&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631002673&s=a8225dd79a8eb0d05ce0db6b2a5efd03);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    /* border: 1px solid yellow; */
}

.contant-upper-up {
    position: absolute;
    height: 50vh;
    width: 70vw;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    ;


}

.contant-upper-up>img {
    position: absolute;
    height: 2vh;
    width: 120px;
    top: 16vh;
    left: 150px;
}

.contant-upper-up>h1 {
    font-size: 2.8vmax;
    text-align: center;
    font-weight: 500;
    color: #fff;
}

.learn12 {
    height: 10vh;
    width: 40vw;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8vh;
    justify-content: space-around;
}

.learn12>h4 {
    font-size: 1.9vmax;
    margin-left: 5px;
    font-family: "inter tight";
    font-weight: 200;
    color: #fff;

}

.img-logo12 {
    height: 8vh;
    width: 5vw;
    border-radius: 50%;
    background-color: rgb(122, 200, 194);
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/logos/footer/edited/meta-white.png?w=400&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1643207768&s=49f73b7b0969e6e6ef4a62aef6d4955c);
    position: relative;
}

.imgg12 {
    position: absolute;
    height: 8vh;
    width: 5vw;
    border-radius: 50%;
    /* margin-top: 1vh; */
    /* background-color: #fff; */
    background-image: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/team/Team-Transparent/Demie-Loizou-1.png?w=400&h=400&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1638459673&s=d95f4d84ca3dc1bf7c15f06aed800740);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

#btn7 {
    position: relative;
    height: 7vh;
    width: 17vw;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 20px;
    overflow: hidden;
    margin-left: 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;

}

#btn7>h5 {
    position: absolute;
    display: flex;
    font-size: 1.3vmax;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 100;
    font-family: "inter tight";
    /* border: 1px solid red; */
    left: 20px;
    top: 11px;
}

#btn7>h5>img {
    margin-left: 5px;
}

#btn7:hover {
    cursor: pointer;
    /* color: blue; */
}

#btn7::after {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    background-color: springgreen;
    transition: width .3s;
}

#btn7:hover::after {
    width: 100%;
    transition: width .3s;
}

.bottom-contant {
    height: 15vh;
    width: 80vw;
    /* border: 1px solid blue; */
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.bottom-contant>h2 {
    color: #fff;
}

.bottom-contant>h2>span {
    color: springgreen;
}

.bottom-contant>p {
    color: rgba(216, 216, 216, 0.705);
    font-size: 1vmax;
    margin-left: 10px;
}

.socalmidia-icon {
    height: 5vh;
    width: 5vw;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socalmidia-icon>img:hover {
    cursor: pointer;
    background: rgb(30, 165, 7);
    border-radius: 5px;
}

 

@media(max-width:430px){
    nav{
        height: 10vh;
        width: 100vw;
        border: 2px solid red;
    }
    nav h2{
         width: 20vw;
        float: left; 
        font-size: 3vmax;
    }
    .page1{
        position: relative;
        height: 100vh;
        width: 100vw;
        /* border: 1px solid royalblue; */
     }
    .page1-child{
        position: absolute;
        width: 100vw;
        height: 40vh;
        left: 0;
        top: 0; 
        
    }
    .page1-child h1{
        position: relative;
        font-size: 4.6vmax;
        top:8vh;
    }
    .page1-child h4{
        position: relative;
        font-size: 1.9vmax;
        width: 50vw;
        top:5vh;
        /* border: 1px solid red; */
    } 
    .page1-child h4 img{
        position: absolute;
        top: 25px;
    }
    .photo1{
        position: absolute;
        height:60vh;
        width: 100vw;
        left: 0;
        top: 40vh;

    }
    .photo2{
        display: none;
    }
    .photo3{
        display: none;
    }
    .page2{
        width: 100vw;
        height: 100vh;
        /* border: 1px solid rgb(214, 3, 3); */

    }
    #gola{
        position: relative;
        width: 3vw;
    }
    .page2-contant h5{
        width: 100vw;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.5vmax;
        text-align-last: center;

    }
    .page2-contant h1{
        width: 100vw;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.5vmax;


    }
}



